<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@ViewBag.BasePath/icon.png">
    <link type="text/css" rel="stylesheet" href="@ViewBag.BasePath/Content/Bundles/styles.css"/>
    <link href="http://team.binary-studio.com/app/styles/css/style.css" rel="stylesheet"/>
    <script src='@ViewBag.BasePath/Scripts/bundles/libs.js'></script>
    <script src='@ViewBag.BasePath/Scripts/bundles/main.js'></script>
    <script type="text/javascript" src="http://team.binary-studio.com/app/javascripts/header.js"></script>
    <script type="text/javascript">
        window.globalVars = { baseUrl: '@ViewBag.BasePath' };
    </script>
    <title>Drive</title>
</head>
<body ng-app="driveApp">
    <div class="navbar navbar-inverse navbar-fixed-top" id="header">
    </div>
<div class="container body-content" >
    @RenderBody()
</div>
    @RenderSection("scripts", required: false)
</body>
</html>
