<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/icon.png">
    <link type="text/css" rel="stylesheet" href="@ViewBag.BasePath/Content/Bundles/styles.css"/>
    <script src='@ViewBag.BasePath/Scripts/bundles/libs.js'></script>
    <script src='@ViewBag.BasePath/Scripts/bundles/main.js'></script>
    <script type="text/javascript">
        window.globalVars = { baseUrl: '@ViewBag.BasePath' };
    </script>
    <title>Drive</title>
</head>
<body ng-app="driveApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content" >
    @RenderBody()
</div>
    @RenderSection("scripts", required: false)
</body>
</html>
